figure.effect-about figcaption {
	text-align: left;
}

figure.effect-about a {
content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    transition: background 1s ease;

    pointer-events: none;
}

figure.effect-about h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
    width: 220px;
}

figure.effect-about h2:hover  {
    color: white;
    cursor: pointer; 
}

figure.effect-about h2:hover + #orangered {
    z-index: -1;
    background: rgba(255, 106, 0, 0.2);
}
figure.effect-about h2:hover + #blued {
    z-index: -1;
    background: rgba(0, 0, 255, 0.2);
}
figure.effect-about h2:hover + #greened {
    z-index: -1;
    background: rgba(0, 255, 102, 0.25);
}

figure.effect-about h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
    background: rgba(255, 255, 255, 1);
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.45s;
	transform: translate3d(-100%,0,0);
}

figure.effect-about h2:hover::after {
	transform: translate3d(0,0,0);
}


figure.effect-about p {
	padding:0;
    margin: 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.50s, transform 0.50s;
	transform: translate3d(100%,0,0);
    font-size: 20px;
}



figure.effect-about h2:hover ~ p {
	opacity: 1;
	transform: translate3d(0,0,0);
    color: white;
}