@media (min-width: @screen-sm-min) {
    .lead {
        font-size: 1.3em;
    }

    figure.effect-project div{
        left: 46%;
        top: 10%;
        /*font-size: 30px;*/
    }
}

@media (min-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

@media (min-width: 1300px) {
    .section {
        padding-top: 0 !important;
    }
    figure.effect-project div {
        top: 11% !important;
    }

}

html {
    background: url(../Images/body02.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    z-index: -1;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background: transparent;
    color: rgba(255, 255, 255, .6);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.04em;
    min-height: 100%;
}

/*Sections - universal classes*/

.section {
    display: none;
    height: 100%;
    min-height: 420px;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 5%;
    top: 0;
    width: 100%;
    z-index: 1;
}

    .section li {
        line-height: 2em;
        list-style-type: none;
    }

#head {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:active {
        color: #fff;
        text-decoration: underline;
    }

.title,
.subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: Futura, Gadget, sans-serif;
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 5.5em;
    line-height: .9em;
    margin-bottom: 40px;
    margin-top: 0;
}

.tagline {
    color: rgba(255, 255, 255, .5);
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 75px;
}

#wrap {
    height: auto !important;
    margin: 0 auto -150px;
    margin: 0 auto -60px;
    min-height: 100%;
}

#push, #footer {
    height: 50px;
}

.footer {
    font-size: 1.2em;
    margin-left: 20px;
}

    .footer a:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
    }

/*                  Site                    */

/********************************************************/

.menue {
    display: flex;
    float: none;
    font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    vertical-align: top;
}

    .menue a:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
    }

    .menue figure {
        float: left;
        margin: 15px;
        padding-right: 60px;
        /*width: 250px;*/
    }

.text-div {
    background-color: rgba(36, 52, 66, 0.6);
    border-radius: 5px;
    display: block;
    line-height: 1.42857143;
    margin-bottom: 20px;
    padding: 4px;
    transition: all .2s ease-in-out;
}

    .text-div h4 {
        font-size: 20px;
        text-align: center;
    }

    .text-div p, .text-div h5 {
        padding-left: 4px;
    }

/*                  Effects                    */

/********************************************************/

figure h2 {
    overflow: hidden;
    padding: 0.5em 0;
    position: relative;
    transition: color 1s;
    width: 220px;
}

    figure h2:hover {
        color: rgba(255, 255, 255, 0.95);
        cursor: pointer;
        transition: color 1s;
    }

        figure h2:hover ~ div {
            color: rgba(255, 255, 255, 0.85);
            opacity: 1;
        }

/*Creates the hue*/

figure a {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: background 1s ease;
}

figure.effect-about h2:hover + #orangered {
    background: rgba(255, 106, 0, 0.2);
    z-index: -1;
}

figure.effect-project h2:hover + #blued {
    background: rgba(0, 0, 255, 0.2);
    z-index: -1;
}

figure.effect-about h2:hover + #greened {
    background: rgba(0, 159, 63, 0.25);
    z-index: -1;
}

/*                  Effects About                    */

/********************************************************/

figure figcaption {
    text-align: left;
}

/*The white line effect*/

figure.effect-about h2::after {
    -webkit-transition: -webkit-transform 0.35s;
    background: rgba(255, 255, 255, 1);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.45s;
    width: 95%;
}

figure h2:hover::after {
    transform: translate3d(0, 0, 0);
    transition: background 1s;
}

figure div {
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity 0.50s, transform 0.50s;
}

figure.effect-about h2:hover ~ div {
    transform: translate3d(0, 0, 0);
}

/*                  Effects Projects                       */

/********************************************************/

figure.effect-project div {
    border: 1px solid rgba(255, 255, 255, 0.71);
    left: 46%;
    opacity: 0;
    padding: 0.8em;
    position: absolute;
    top: 14%;
    transform: scale(1);
}

figure.effect-project:hover div {
    /*-webkit-transform: scale(0.7);*/
    opacity: 1;
}

/*                  SVG Icons                       */

/********************************************************/

.svg-icon {
    display: block;
    fill: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 7px;
    position: relative;
    transition: fill 1s;
}

    .svg-icon svg {
        fill: rgba(255, 255, 255, 0.6);
        transition: fill 0.5s;
    }

        .svg-icon svg:hover {
            fill: rgba(255, 255, 255, 0.95);
            margin-left: auto;
            margin-right: auto;
            transition: fill 0.5s;
        }

svg {
    height: 100px;
    padding: 5px;
    width: 100px;
}

